* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    text-align: center;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

#recipe-list {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
}

#recipe-list img {
    flex: 0 1 auto;
    height: 150px;
    margin-right: 0.5rem;
    cursor: pointer;
}

#recipe-list img:last-child {
    margin-right: 0;
}

#selected-recipe-instructions {
    list-style-type: none;
}

#tracker table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

#tracker table {
    width: 100%;
}

#tracker img {
    width: 150px;
}

#all-forms {
    display: flex;
    flex-wrap: wrap;
}

#all-forms select {
    padding: 3%;
}

#search-form {
    padding: 5%;
}

#search-form input[type=submit] {
    padding: 3%;
    margin-top: 10px;
}

#selected-recipe-instructions {
    background-color: white;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 600px;
    height: auto;
    text-align: left;
}

#instruction-btn {
    padding: 1%;
}

#tracker-form-section {
    margin-top: 10px;
    margin-bottom: 10px;
}